<ng-container *ngIf="details">


  <h1 *ngIf="details" class="mat-headline">{{ details.name }}</h1>

  <div class="row mat-body details-info">
    <div class="cell widget-info-cell">
      <span class="widget-info-label">Part Number:</span>
      <span class="widget-info-data">{{ details.partNumber }}</span>
    </div>
    <div class="spacer"></div>
    <div class="cell widget-info-cell">
      <span class="widget-info-label">ID :</span>
      <span class="widget-info-data">{{ details.id }}</span>
    </div>
  </div>

  <p *ngIf="details.description" class="mat-body-1 details-description">{{ details.description }}</p>
  <p *ngIf="!details.description" class="mat-body-1 details-description">No details available</p>

</ng-container>
