/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  text-align: center;
}

.router-container {
}

.spacer {
  flex: 1;
}

.cell {
  flex: 1 1 auto;
}

.widget-info-cell {
  min-width: 200px;
  display: flex;

  .widget-info-label {
    padding-right: 5px;
  }

  .widget-info-data {
    font-weight: bold;
  }
}

.row {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-content: center;
}

.col {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.mat-toolbar {
  h1 {
    font-weight: 300;
    margin: 0;
    font-size: 20px;
    cursor: default;
  }

  h1.nav-title {
    padding: 0 20px;
  }
}

.inner-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  router-outlet + * {
    flex-grow: 1;
  }
}

.outer-content {
  display: flex;
  flex-flow: row;
  flex: 1;
}

.body-content {
  display: flex;
  flex: 1 1 auto;
}

app-widget-details {
  padding-top: 10px;
}

.details-description {
  height: 70vh;
}

.details-info {
  background-color: rgba(0,0,0,.33);
  padding: 10px;
}

.app-widget-list {
  background-color: rgba(0,0,0,.33);
  padding: 10px;
  height: 80vh;
  overflow: auto;
  margin: 10px 10px 10px 0;
  min-width: 125px;
  max-width: 200px;
  display: flex;
}
